.TLI .right-zone {
  flex: auto;
  padding: 0 10px 10px 0;
  height: 99%;
  width: 570px;

  .chart-view-card {
    height: 100%;
    overflow: hidden;
    margin-top: 9px;

    .projection-view{
      display: flex;
      flex-direction: column;
      height: 450px;
      align-items: center;

      .tsne{
        width: 96%;
        height: 100%;
        margin: 10px;
        border: 2px solid #e7e6e6;
        border-radius: 6px;
      }
    }

    .indicator-view{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px 0;


      .domain-title {
        font-size: 15px;
        font-weight: 500;
        margin: 0 10px;
        color: #4A88B0;
      }

      .tabel{
        width: 500px;
      }
    }

  }
}
